# dependencies present in the colab environment

beautifulsoup4~=4.12.3
graphviz~=0.20.1
jupyter~=1.0.0
matplotlib~=3.7.1
numpy
opencv-contrib-python~=4.8.0.76
opencv-python~=4.8.0.76
pandas~=1.5.3
Pillow~=10.1.0
safetensors~=0.4.2
scikit-image~=0.19.3
scikit-learn~=1.2.2
scipy~=1.11.4
tabulate~=0.9.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tqdm~=4.66.2
zipp~=3.17.0
tensorflow==2.15.0

# additional dependencies (not in colab by default)
torch-summary~=1.4.5
